<div class="container row">
    <h1>Dashboard de pruebas :) </h1>
    <h3>Bienvenido: {{userName}}</h3>
    <h4>Tu emial: {{userEmail}}</h4>
    {{#if fail}}
    <div class="alert bg-danger">Lo sentimos, no podemos registrar el usuario.</div>
    {{/if}}
</div>