<div class="container row">
    <div class="jumbotron col-sm-8 pull-center">
        <form autocomplete="off" action="/signup" method="post">
            <div class="form-group">
                <label>Username:</label>
                <input class="form-control" required type="text" name="username"/>
            </div>
            <div class="form-group">
                <label>Email:</label>
                <input class="form-control" required type="email" name="email"/>
            </div>    
            <div class="form-group">
                <label>Password:</label>
                <input class="form-control" required type="password" name="password"/>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Sign Up"/>
            </div>
            {{#if fail}}
            <div class="alert bg-danger">Lo sentimos, no podemos registrar el usuario.</div>
            {{/if}}
        </form>                  
    </div>          
</div>